{% extends 'base.html.twig' %}
  {% block content %}
  {% block left_nav %}
  {% endblock %}

    <section id="wrapper">
      <div class="card-body text-center">
        <div class="d-flex">
          <div class="text-center" style="color: #3b5998; margin: 210px;" >
            <h1 class="card-title">Thank you for telling us how you feel today.</h1>
            <h3 >Your doctor will contact you if necessary.</h3>
          </div>
        </div>
      </div>
    </section>

  {% endblock %}