{% extends 'base.html.twig' %}
  {% block content %}
  {% block left_nav %}
    {% endblock %}
    <section id="wrapper">
      <div class="error-box">
        <div class="error-body text-center">
          <h1>Thank You</h1>
        </div>
      </div>
    </section>

  {% endblock %}